@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Roboto", sans-serif;
}

.dark {
  background: linear-gradient(to right, #0f2027, #0b252d, #3c2e18);
  color: white;
}
